<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <offline/>
  <pluginGroups/>
  <servers>
    <!--<server>
		<id>anypoint-exchange-v3</id>
		<username>aadipurush12</username>
		<password>Vks@#0203</password>
    </server>-->
    <!--<server>
		<id>PrivateExchangeRepository</id>
		<username>aadipurush12</username>
		<password>Vks@#0203</password>
    </server>-->
    <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~</username>
            <password>9f529f6ca8364f809020e4a82f3e2616~?~6C154124af0841d18f8A6b21180c76A8</password>
    </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles/>
  <activeProfiles/>
</settings>
